* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul
{
  list-style-type: none;
}

a 
{
  text-decoration: none;
  color: #000;
}