@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Mons-bold/Montserrat-Bold.eot');
    src: url('../fonts/Mons-bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mons-bold/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Mons-bold/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Mons-bold/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Mons-light/Montserrat-Light.eot');
    src: url('../fonts/Mons-light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mons-light/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Mons-light/Montserrat-Light.woff') format('woff'),
        url('../fonts/Mons-light/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Mons-medium/Montserrat-Medium.eot');
    src: url('../fonts/Mons-medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mons-medium/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Mons-medium/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Mons-medium/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Mons-regular/Montserrat-Regular.eot');
    src: url('../fonts/Mons-regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mons-regular/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Mons-regular/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Mons-regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Mons-semibold/Montserrat-SemiBold.eot');
    src: url('../fonts/Mons-semiboldMontserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mons-semiboldMontserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Mons-semiboldMontserrat-SemiBold.woff') format('woff'),
        url('../fonts/Mons-semiboldMontserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

